
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="container">
    <input id="tab-1" type="radio" name="tab-group" checked="checked" />
    <label for="tab-1">Pestaña 1</label>
    <input id="tab-2" type="radio" name="tab-group" />
    <label for="tab-2">Pestaña 2</label>
    <input id="tab-3" type="radio" name="tab-group" />
    <label for="tab-3">Pestaña 3</label>

    <div id="content">
        <!--Contenido de la Pestaña 1-->
        <div id="content-1">
           <p>Contenido 1</p>
        </div>
        <!--Contenido de la Pestaña 2-->
        <div id="content-2">
            <p>Contenido 2</p>
        </div>
        <!--Contenido de la Pestaña 3-->
        <div id="content-3">
            <p>Contenido 3</p>
        </div>
    </div>
</div>